* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

h1 {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: 'ABeeZee', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-shadow: maroon 1px;
}

.calculated-by {
  margin-top: -10px;
}

body {
  background-color: rgb(250, 250, 250);
}

.separator {
  /* background-color: rgb(255, 102, 0); VERSION 4 */
  background-color: orange;
  width: auto;
  height: 5px;
  margin: 15px 0;
}

.title {
  text-align: center;
  margin: auto;
}

#title-link {
  text-decoration: none;
}

.subtitle {
  text-align: center;
}

.options-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 5px;
  background-color: white;
  /* border: none; */
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  color: rgb(199, 96, 0);
  /* color: rgb(230, 149, 0); FINAL VESION */
  letter-spacing: 0.05em;
}

.earnings-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.earnings-div {
  font-weight: 600;
  margin: 0 5px;
}

.value-input {
  width: 70px;
  background: white;
  /* border: none; */
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

table {
  text-align: center;
  margin: auto;
}

.member-input-tasks {
  width: 40px;
  background: white;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.member-input-trophies {
  width: 60px;
  background: white;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.member-input-name {
  margin: 0 5px;
  width: 75px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
}

.member-label {
  display: none;
}

table {
  border-collapse: collapse;
}

/* td {
  border-bottom: 1px solid rgba(255, 165, 0, 1);
  padding: 3px 0px;
} */

@media (max-width: 450px) {
  .member-label {
    display: none;
  }
  td {
    padding: 5px 0px;
    border-bottom: 1px solid rgba(255, 165, 0, 1);
  }
}

@media (max-width: 350px) {
  .member-input-name {
    width: 50px;
  }
}

.table-gems {
  color: rgb(0, 170, 226);
}

.table-rubies {
  color: maroon;
}

.navbar-container {
  text-align: center;
}

.navbar-button {
  box-shadow: 0px 0px 4px gray;
  border: none;
  border-top: orange 2px solid;
  border-bottom: orange 2px solid;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  cursor: pointer;
}

.section-separator {
  padding-bottom: 20px;
}

#reclamar-recompensa {
  font-weight: bold;
}

#reglamento {
  text-align: center;
}

.girasol-indice {
  text-align: center;
}

.girasol-indice table {
  margin-top: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  margin-bottom: 20px;
}

.girasol-container {
  padding-left: 50px;
  padding-right: 50px;
}

.girasol-container h3 {
  font-weight: bold;
}
